.footer{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(36, 35, 35);
    color: rgb(196, 195, 195);
    padding-bottom: 70px;
}

.footer p{
    margin-left: 25px;
}

.footer label{
    margin-top: 25px;
    margin-left: 30px;
}

.footer a{
    font-size: 1.5em;
    margin-left: 30px;
}

@media (max-width: 780px){
    .footer{
        font-size: .5em;
    }

    .footer a{
        margin-right: 2px;
        margin-left: 25px;
    }

    .footer label{
        margin-bottom: 10px;
    }
}