.container_todopost {
    display: flex;
    align-items: flex-start; 
    justify-content: baseline;
    border-top: solid 2px rgb(35, 34, 34) ;
    padding: 20px;
  }
  
  .image_container {
    flex-shrink: 0; /* Impede que a imagem encolha */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
  }
  
  .image_container img {
    width: 300px;
    height: 300px; 
    object-fit: cover; 
    margin-left:10px;
  }
  
  .container_post {
    margin-left:5px;
    align-items: baseline;
    display: flex;
    flex-direction: column;
  }

  .container_post h2{
    margin: 0;
    text-align: left;
  }
  
  .tag_container {
    display: flex;
    flex-wrap: wrap; /* Permite que as tags quebrem para a próxima linha, se necessário */
  }
  
  .tag_container p {
    margin-right: 10px; /* Espaço entre as tags */
  }

  .ler_post{
    background-color:rgb(0, 153, 0);
    padding: 10px;
    padding-inline: 25px;
    border-radius: 5px;
  }




@media (max-width: 780px) {
    .container_post{
        width: 80%;
        font-size: .5em ;
        margin-bottom: 100px;
        margin-left: 2px;
    }

    .container_post h2{
        text-align: left;
    }

    .image_container img{
        width: 100px;
        height: 100px;
        margin-left: 5px;
    }
}