@font-face {
    font-family:"Game";
    src: url("../fonts/Gameplay.ttf"), format("truetype");
}

.start{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start h1{
    font-size: 4.5em;
    font-family: "Game";
}

.start button{
    font-size: 1.6em;
    padding-inline: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(237, 255, 97);
    border-radius: 20px;
    cursor: pointer;
    font-family: "Game";
    text-transform: uppercase;
}

.start button:hover{
    background-color:rgb(175, 199, 0); ;
}
