:root{
    --primary-green: rgb(0, 153, 0);
}

.container_dahsboard{
    background-color:rgb(64, 62, 62);
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.container_dahsboard img{
    object-fit: cover;
    width: 10%;
    height: 10%;
   margin-left: 25px;
}

.post_line{
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    padding: 20px;
}
.legenda{
    display: flex;
    justify-content: space-around;
    background-color: rgb(20, 18, 18);
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
}

.legenda span{
   font-size: 1.5em;
}

.post_line a{
    background-color: rgb(20, 18, 18);
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 20%;
 
}

.post_line a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.delete{
    background-color:rgb(183, 30, 30);
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    margin-left: 25px;
    border: none;
    color: white;
    margin-top: 20%;
    cursor: pointer;
}

.delete:hover{
    background-color:rgb(215, 21, 21);
}

.confirm_delete{
    position: absolute;
    z-index: 99999;
    background-color: black;
    top: 30%;
    left: 44%;
    padding: 40px;
    border-radius: 20px;
}

.confirm_delete p{
    margin: 0;
}

.sim{
    background-color:rgb(215, 21, 21);
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: white;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 1em;
}
.nao{
    background-color:rgb(20, 18, 18); ;
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    font-size: 1em;
}


@media (max-width: 780px) {

    .container_dahsboard{
        width: 90%;
    }

    .legenda{
        font-size: .5em;
    }

    .post_line a{
        font-size: .3em;
        margin-left:5px ;
        margin-bottom: 20px;
    }

    .post_line button{
        font-size: .3em;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    .container_dahsboard img{
        width: 30%;
        height: 30%;
    }

    .text_table{
        font-size: 1em;
    }

    .confirm_delete{
        right: 10%;
        left: 10%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .confirm_delete p{
        font-size: .7em;
        padding: 10px;
        margin-bottom: 10px;
    }

    .sim{
       margin-right: 0;
       margin-top: 10px;
    }
    .nao{
      margin-top: 10px;
    }
}
