.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products li{
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
    list-style: none;
    width: 25%;
}