.container_register{
    margin-top: 50px;
}
.container_register h1,p{
    text-align: center;
}


.container_form span{
    text-align: start;
}

@media (max-width : 780px){
    .container_register{
        font-size: .5em;
    }

    .container_register h1{
        font-size: 1.5em;
    }
}