nav{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover{
    color: gray;
}

.active{
    background-color: #000;
    color: white;
}