.container_singlepost{
    background-color:  rgb(64, 62, 62);
    width: 50%;
    padding: 50px;
    margin: auto;
}

.container_singlepost img{
    object-fit: cover;
    width: 30%;
    height: 30%;
    border-radius: 20px;
}

.container_singlepost p{
    text-align: left;
}

.container_singlepost h1{
   font-size: 2em;
}

.text_single_post{
    width:90%;
    font-size: 1.2em;
}

@media (max-width: 780px){
    .container_singlepost img{
        width: 50%;
        height: 50%;
    }

    .container_singlepost h1{
        font-size: 1.5em;
     }
}